.App {
    min-height: 100%;
    position: relative;
    box-sizing: border-box;
    .routeContainer {
        padding-bottom: 60px;
        min-height: 100%;
    }
    .viewContainer {
        max-width: 95%;
        min-height: 90%;
        margin: auto;
    }
}