.MapWizard .paperContent {
    padding: 5%;
    overflow: hidden;
}

.stationTab {
    position: relative;
    height: 300px;
}

.MapWizard .stationTab .stationList .stationWarning {
    margin: 20% auto;
    text-align: center;
}

.MapWizard .stationTab .stationList {
    max-height: 220px;
    overflow-y: auto;
}

.MapWizard .stationTab .chartButton {
    position: absolute;
    margin: auto;
    bottom: 0;
    right: 30px;
}