.MapWizard .paperContent {
    padding: 5%;
    overflow: hidden;
}

.MapWizard .stationWarning {
    margin: 20% auto;
    text-align: center;
}

.MapWizard .stationList {
    max-height: 300px;
    overflow-y: auto;
}