.ApiDataDisplay {
    margin: 5% auto;
}

.ApiDataDisplay .dataResults {
    padding: 5%;
    min-height: 400px;
    max-width: 100%;
    text-align: left;
}

.ApiDataDisplay .stepButton {
    text-align: center;
}